body
{
  background-color: #fde2e2;
}
hr{
  border-style: none;
  border-color: #d7385e;
  border-top-style: dotted;
  border-width: 4px;
  width: 10%;
}
img{
  height: 70px;
  background-color: #fde2e2;
}
h1
{
  color: #d7385e;
}
h1:hover
{
  color: gold;
}
h2
{
  color: #d7385e;
}
h3
{
  color: #d7385e;
}
